
<div>
    <h1 class="display-4">Welcome to Microsoft CodeCamp</h1>
    <p>Please go to this page to register</p>

    <form method="post" asp-controller="student" asp-action="Add">
        <input id="registerButton" type="submit" value="Register" />
    </form>
</div>
